.container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.subTitle {
  font-weight: 500;
  color: var(--blue);
}

.skillBoxContainer {
  display: flex;
  flex-direction: column;
  gap: 0.33rem;
  align-items: flex-start;
}

.skillListContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.33rem;
  align-items: center;
}

.skill {
  background-color: var(--blue);
  border-radius: 0.5rem;
  width: fit-content;
  padding: 0.25rem 0.75rem;
  color: white;
  font-size: 0.875rem;
}
