.flex {
  display: flex;
  flex-direction: column;
}

.containerFlexGap {
  gap: 0.5rem;
}

.flexGap {
  gap: 1rem;
}

.jobTitle {
  color: var(--blue);
  font-size: 1.125rem;
  font-weight: 600;
}

.jobLocation {
  font-size: 1.25rem;
  font-weight: 500;
}
