.flex {
  display: flex;
  flex-direction: column;
}

.containerFlexGap {
  gap: 0.5rem;
}

.flexGap {
  gap: 1rem;
}

.jobTitle {
  color: var(--blue);
  font-size: large;
  font-weight: 600;
}

.jobLocation {
  font-size: larger;
  font-weight: 500;
}

