.container{
    display: flex;
    flex-direction: column;
    gap:0.75rem;
}

.interestsContainer{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
    align-items: center;
}

.interest{ 
    font-weight: 500;
    color:#4459a2;
    border-radius: 0.5rem;
    width: max-content;
    padding: 0.25rem;
    border: 2px solid #4459a2;    
    font-size: smaller;

}